.theme {
    background: #FAFAFA;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Product Sans', monospace, sans-serif;
    cursor: default;
    user-select: none;
    outline: none;
}

html, body {
    position: relative
}

/*_________________________*/

.content {
    overflow: hidden;
}

.status {
    height: 2px;
    width: 100px;
    margin: 23px 17px;
}

.error {
    background: #FF4A47;
}

.playing {
    background: #4CAF50;
}

#contrastFilter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: black;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.video-container {
    position: fixed;
    height: 50vh;
    width: 100vw;
    text-align: center;
}

video {
    height: 100%;
    width: 100%;
    background: black;
    top: 0;
    resize: both;
}

video::-webkit-media-controls {
    font-family: 'Product Sans';
    cursor: grab;
    opacity: 0.9;
    filter: grayscale();
}

video::-webkit-media-controls-time-remaining-display {}

video::-webkit-media-controls-current-time-display {}

video::-webkit-media-controls-volume-slider {}

video::-webkit-media-controls-timeline {}

.input-container {
    position: absolute;
    margin-top: 50vh;
    background: #FF5722;
    height: 60vh;
    width: 100vw;
    z-index: 2;
}

input#newURL {
    position: inherit;
    max-width: calc(100% - 28px);
    color: #212121;
    border: 0;
    height: 24px;
    padding: 15.5px;
    width: calc(100vw - 141px);
    left: 55px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.38);
}

.botmbar {
    background: white;
    bottom: 0;
    z-index: 2;
    position: fixed;
    height: 55px;
    width: 100vw;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

label {
    display: inline-block;
    height: 24px;
    padding: 15.5px;
    position: absolute;
    height: 24px;
    padding: 15.5px;
}

.send {
    right: 0;
}

svg {
    fill: rgba(0, 0, 0, 0.38);
}

svg:hover {
    fill: rgba(0, 0, 0, 0.5);
}

span svg {
    position: absolute;
}

img {
    display: inline-block;
    ;
}

#title {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.87);
}

#album {
    font-size: .875rem;
    color: rgba(0, 0, 0, 0.54);
}

#picture {
    height: 100%;
}

#picturebg {
    width: 150%;
    /* height: 200%; */
    position: absolute;
    left: 0;
    z-index: -1;
    transform: translate( -25%, -25%);
    filter: blur(8px) brightness(0.6);
}

#playlist {
    background: white;
    width: 94%;
    margin: 0 3%;
    border-radius: 4px;
    list-style: none;
    overflow: hidden;
}

audio {
    width: 100%;
}

.active a {
    color: #616161;
}

li {
    position: relative;
    height: 55px;
}

.now {
    border-bottom: 1px solid #E0E0E0;
}

li a, .now {
    color: #212121;
    padding: 18px;
    display: block;
    text-decoration: none;
}

li a:hover {
    background: #EEEEEE;
}

.controls {
    margin: 20px 0;
    text-align: center;
}

button.play {
    display: inline-block;
    height: 56px;
    width: 56px;
    background: #FFF;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

button.play:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.hidden {
    display: none;
}

#custom-seekbar, #custom-seekbar span {
    display: inline-block;
    height: 15px;
    cursor: pointer;
    width: 100%;
}

#custom-seekbar {
    display: inline-block;
    height: 15px;
    background: rgba(0, 0, 0, 0.1);
    position: relative;
}

#custom-seekbar #progress {
    position: absolute;
    left: 0;
    width: 0px;
    transition: all 0.01s;
}

#progress span {
    right: 0;
    background: white;
    width: 7px;
    height: 15px;
    position: absolute;
}